* {
    font-family: "Fira Sans", sans-serif;
}

nav.navbar {
    margin: 0;
}

.nav-wrapper {
    margin: 2%;
}

.landing-intro {
    background: url('https://static.pexels.com/photos/305239/pexels-photo-305239.jpeg') no-repeat center center;
    background-size: cover;
}

.landing-message {
    padding: 1% 0 1% 0;
    color: white;
    text-align: center;
}

.btn {
    padding: 1% 10%;
    background-color: rgb(255, 123, 0);
    border-color: white;
}

.col-centered {
    float: none;
    margin: 0 auto;
}

.backdrop {
    background: rgba(0, 0, 0, 0.7);
}

.line {
    border-color: #F05F40;
    border-width: 1px;
    width: 100px;
    margin-top: 0;
    margin-bottom: 0;
}

#headline {
    font-weight: lighter;
    font-family: 'Fira Sans', sans-serif;
    line-height: 1.5;
    padding: 1% 0% 1% 0%;
    margin-bottom: 0;
}

.headline-para {
    font-family: 'Open Sans Condensed', sans-serif;
    color: rgb(150, 150, 150);
    font-size: 18px;
    margin: 2% 0 0 0;
}

.headline-subpara {
    font-family: 'Open Sans Condensed', sans-serif;
    padding: 0% 0% 2% 0%;
    color: rgb(200, 200, 200);
    font-size: 25px;
    margin: 0;
}

/*CLOCK*/

#clockdiv {
    font-family: sans-serif;
    color: #fff;
    display: inline-block;
    font-weight: 100;
    text-align: center;
    font-size: 20px;
    margin: 1% 0 1% 0;
    /*background-color: rgba(0, 0, 0, 0);*/
    border-radius: 10px;
    padding: 1% 5%;
}

#clockdiv>div {
    padding: 10px;
    border-radius: 3px;
    /*background-color: rgba(200, 200, 200, 0.4);*/
    display: inline-block;
}

#clockdiv div>span {
    padding: 15px;
    background: rgba(0, 0, 10, 0.2);
    display: inline-block;
    width: 100px;
}

.smalltext {
    padding-top: 5px;
    font-size: 20px;
    font-family: 'Lobster';
    color: rgb(200, 200, 200);
}

.number {
    font-family: 'Pacifico';
    font-size: 60px;
}


#logo {
    padding: 5% 0% 10% 0%;
}

.input-group {
    width: 80%;
}


#email {
    margin: 0;
}

#notify-message {
    color: green;
}

#notify {
    margin: 1% 0 1% 0;
}

.hidden {
    display: none;
}

.social-tabs {
    padding: 1% 0 0 0;
}

.landing-tabs a {
    font-family: 'Heebo', sans-serif;
    color: white;
    font-size: 25px;
    text-decoration: underline;
}

.landing-tabs a:hover {
    color: red;
}

#blog {
    padding: 0 0 0 5%;
}

i.fa {
    display: inline-block;
}

/*FONT AWESOME*/

.social-fa {
    color: #ffc0ff;
}

.form-control {
    border-radius: 50px;
}

.icon-background1 {
    color: black;
}

.icon-background2 {
    color: #ffffc0;
}

.icon-background3 {
    color: #c0ffff;
}


@media (max-width:1024px) {
    .landing-message {
        padding: 7% 0 9% 0
    }
}